@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montaga&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montaga&family=Mukta:wght@200;300;400;500;600&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

/*elemento geral*/
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1em;
    width: auto;
    font-family: "Montaga", "rubrik",'Times New Roman', Times, serif;
    
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* fim elemento geral*/

/* elementos footer*/
footer {
    width: 100%;
    padding: 1px 5% 0px;
    box-sizing: border-box;
    display: flex;
    margin-top: auto;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(#DDB892, #ecb695);
}

#textesp {
    font-size: 1.2em;
    text-align: center;
    font-family: "Montaga", "rubrik";
}

/* fim elementos footer*/

/* elementos header */
#header {
    box-sizing: border-box;
    height: 120px;
    width: 100%;
    padding: 1rem;
    margin: 0;
    background-image: linear-gradient(#DDB892, #d6b491);
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: flex-end;
}

.photo {
    padding: 10px 5px;
    float: left;
}


li {
    text-decoration: none;
    padding: 0%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

a {
    color: #7f3539;
    ;
}

a:hover {
    color: #ede0d4;
}

.buttontes {
    padding: .5rem;
    background-color: transparent;
    border: transparent;
    font-size: 1.3em;
    gap: 1em;
    align-self: stretch;
    transition: transform 0.3s ease-in 0s;

}

.buttontes:hover {
    background-color: none;
    transform: translateY(-3px);
}

/*Fim elementos header*/




/* elementos article e carrosel */
article {
    box-sizing: border-box;
    padding: 5px 0 5px 0;
    margin: 0%;
    clear: both;
    text-align: center;
    background-color: #ffffff;
}

h1,
p {
    font-family: " Montaga", "Mukta";
}

.slider {
    margin: 0 auto;
    height: 800px;
    overflow: hidden;

}

.slides {
    width: 400%;
    height: 800px;
    display: flex;

}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 0.3s;
    max-width: 100%;
    max-height: 800px;
    overflow: hidden;

}

.slide img {
    width: 100%;
}

.manual-navigation {
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.7s;
}

.manual-btn:not(:last-child) {
    margin-right: 30px;
}

.manual-btn:hover {
    background-color: #ffffff;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -25%;
}

#radio3:checked~.first {
    margin-left: -50%;
}

#radio4:checked~.first {
    margin-left: -75%;
}

.navigation-auto div {
    border: 2px solid rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 100%;
    margin-top: 759px;
    display: flex;
    justify-content: center;

}

.navigation-auto div:not(:last-child) {
    margin-right: 30px;
}


#radio1:checked~.navigation-auto .auto-btn1 {
    background-color: #ffffff;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background-color: #ffffff;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background-color: #ffffff;
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background-color: #ffffff;
}

/* fim elementos article e carrosel */

/*elementos Section 1*/
section {
    box-sizing: border-box;
    background-color: #7f3539;
    font-size: 1.1em;
    width: 100%;
    text-align: center;
}

/* fim elementos section1 */


#btn-mobile {
    display: none;
}

@media screen and (max-width:750px) {

    #btn-mobile {
        display: block;
    }
    #menu {
        display: block;
        visibility: hidden;
        position: absolute;
        width: 100%;
        top: 120px;
        right: 0px;
        height: 0%;
        z-index: 1000;
        overflow: hidden;
        transition: 1.2s;
        background-image: linear-gradient(#d6b491, #DDB892);
    }
    #nav.active #menu {
        visibility: visible;
        height: 70vh;
        padding-bottom: 0px;
        overflow-y: auto;
    }
    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
    }
    .buttontes {
        display: flex;
        font-size: 1em;
        flex-direction: column;
    }
    .buttontes:hover {
        transform: none;
        transition: none;
    }

    li {
        display: block;
    }
     #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hamburger {
        color: rgba(139, 29, 1, 0.712);
        display: block;
        width: 25px;
        border-top: 2px solid;

    }

    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 25px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .5s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;


    }

    #nav.active #hamburger::after {
        transform: rotate(135deg);
        top: -7px;
    }

    #nav.active #hamburger::before {
        transform: rotate(-135deg);
    }

    /*Fim menu hamburger*/
    #nav2 {
        display: none;
    }

}

/*página de produto*/

#comercial {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ffffff;
    align-items: center;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
}
.container {
    box-sizing: border-box;
    width: 25%;
    display:grid;
    align-content: center;
    height: 350px;
    background-color: #ddddddd8;
    padding: 0px 5px;
    margin: 10px;
    border-radius: 5px;
    justify-items: center;
    justify-content: center;

}


.paragrafo {

    background-color: #4b1818;
    border: 5px solid rgba(0, 0, 0, 0.644);
    font-size: 1.1em;
    color: #ffffff;
    padding: 5px 50px;
    border-radius: 90px;

}

.paragrafo:hover {
    background-color: #ffffff;
    cursor: pointer;
    color: #4b1818;

}

/*fim página de produto*/
/*banner dos produtos*/
#guiaProdutos{ 
    padding-top: 10px;
    gap: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#img_banner{
    border-radius: 30px;
}
/*fim banner de produto */

/*página de contato */
.flexfield{
    display: flex;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 10px;   
    justify-content: center;
    
}
.field{
    padding: 5px 10px;
    display: grid;
    justify-items: start;
    align-content: center;
    gap: 20px;
    border: 2px solid #4b1818;
    border-radius: 5px;

}
#petlabel{
    font-family: "Montaka","Mukta";
    font-size: 1.4em;
    padding: 10px 10px;
    width: 100%;
    color: #4b1818;
    
}
.btn-contato{
    width: 150px;
   border-radius: 10px;
   background-color: #4b1818;
   color: #ede0d4;
   font-size: 1.2em;
   cursor: pointer;
   margin: 5px;
   padding: 5px;
   border: 1px solid rgba(0, 0, 0, 0.644);    
}
.btn-contato:hover{
    color: #4b1818;
    background-color: #ffffff;
}
textarea{
    width: 550px;
    resize: none;
    margin: 5px;
}
.contato{
    overflow: hidden;
}
/* fim página contato */