@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montaga&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1em;
    width: auto;
    font-family: "Montaga","rubrik";
}


header{
    width: 100%;
    margin: 0;
    background-color: #DDB892;
    box-shadow: 5px 5px 15px rgba(#5e4e3e62 );
    position: absolute;
    clear: both;
    background-image:linear-gradient(#DDB892,#d6b491) ;
    
}
.photo{
    padding:10px;
    float: left;
}
li{
    display: inline-flex;  
    flex-direction: row; 
    align-items: center;
    justify-content: space-evenly;
}
a{
    color: #7f3539;;
}

.menu1{
    text-align: center;
    float: left;
    justify-content: space-between;
    margin: auto;
}
.buttontes{
padding: 40px;
background-color: transparent;
border: transparent 5px;
font-size: 1.9em;
gap: 1em;
flex-grow: 1fr;


}
.buttontes:hover{
   
    background-color:none;

}
a:hover{
     color: #ede0d4;
}
    


