@charset "UTF-8";
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 1em;
    
}


header{
    width: auto;
    margin: auto;
    background-color: #DDB892;
    box-shadow: 5px 5px 15px rgba(#5e4e3e62 );
}
.photo{
    padding-top: 20px;
}
li{
    display: inline-flex;   
    align-items: baseline;

}

.menu1{
    text-align: center;
}

    

footer{
    background-color: #DDB892;
    align-items: center;
    
}
